<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login or Register</title>
</head>
<style>
    #div1{
        font-size: 20px;
        color: cadetblue;
    }
    #div2
    {
        font-size: 20px;
        color: royalblue;
    }
</style>
<body>
    <div id="div1">
        <p>Already have an account? Click here ! </p>
        <a href="login" style="border:5px solid blue;padding:5px;">Login</a>
    </div>
    <div id = "div2">
        <p>New user? Register here !</p>
        <a href="register" style="border:5px solid black;padding:5px;">Register</a>
    </div>

</body>
</html>