<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destinations</title>
</head>
<body>
    <div>
        <h1 style="text-align: center;">Destination places.</h1>
        <p style="font-size:25px;">
            Cities of Nepal:
            <ol type="1" style="font-size:25px;">
                <li>Kathmandu</li><br>
                <li>Pokhara</li><br>
                <li>Mustang</li><br>
                <li>Butwal</li><br>
                <li>Chitwan</li><br>
            </ol>
        </p>
    </div>
</body>
</html>